/Round10/javadocjson/target/
/Round10/javadocstandings/target/
/Round11/junitattainment/nbproject/
/Round11/junitattainment/target/
/Round11/junitorder/nbproject/
/Round11/junitorder/target/
/Round12/calc/target/
/Round12/testi/target/
/Round12/wordle/target/
